*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.verde {
  background-color: green;
}

.rosso {
  background-color: red;
}

.blu {
  background-color: blue;
}
